<form [formGroup]="contactForm">
  <div class="form-group row">
        <label for="inputISBN" class="col-sm-3 form control-label">
          ISBN {{inputInfo.isbn}} </label>
        <div class="col-sm-6">
          <input type="text" [formControlName]="'isbn'" class="form-control" value="{{bukuEditParent.isbn}}">
          <span *ngIf="!contactForm.get('isbn').valid && contactForm.get('isbn').touched" class='help-block'>
            <span *ngIf="contactForm.get('isbn').errors['required']">
              Wajib Diisi!
            </span>
            <span *ngIf="contactForm.get('isbn').errors['blank']">
              Tidak boleh kosong!
            </span>
            </span>
          </div>
        </div>

      <div class="form-group-row">
        <label for="inputNamaBuku" class="col-sm-3 form control-label">
          Nama Buku {{inputInfo.namabuku}} </label>
        <div class="col-sm-6">
          <input type="text" [formControlName]="'namabuku'" class="form-control" #inputNamaBuku value="{{bukuEditParent.namabuku}}">
          <span *ngIf="!contactForm.get('namabuku').valid && contactForm.get('namabuku').touched" class='help-block'>
            <span *ngIf="contactForm.get('namabuku').errors['namabuku']">
              Wajib Diisi!
            </span>
            <span *ngIf="contactForm.get('namabuku').errors['blank']">
              Tidak boleh kosong!
            </span>
            </span>
          </div>
        </div>
        
        <div class="form-group-row">
        <label for="inputJumlah" class="col-sm-3 form control-label">
          Jumlah {{inputInfo.jumlah}} </label>
           <div class="col-sm-6">
            <input type="text" [formControlName]="'jumlah'" class="form-control" value="{{bukuEditParent.jumlah}}">
            </div>
          </div>
          <button type="submit" class="btn btn-success pull-right" (click)="kirim()"> Pilih </button>
</form>